@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

*{
  margin: 0;
  scroll-behavior: smooth;
  font-weight: 600;
  color: #302939;
  padding: 0;
  font-family: "Dosis", sans-serif;
}

.navbar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.navbar{
  max-width: 1320px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
  border-radius: 50px;
  background-color: 	#fffac2  ;

}

.left{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.left img{
  width: 100%;
}

.middle ul{
  display: flex;
  flex-flow: row;
  gap: 20px;
}

li{
  text-decoration: none;
  list-style: none;
}

.right span{
  margin: 5px; 
}

@media screen and (max-width: 700px) {
  .right {
    display: none;
  }
  .left{
    width: 150px;
  }
  .middle ul{
    gap: 15px;
  }
}

.banner-container{
  width: 100%;
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}

.banner{
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
  align-items: center;
  width: 1320px;
  height: 490px;
  border-radius: 15px;
  font-size: 20px;
  background: rgb(255,242,95);
  background: linear-gradient(345deg, rgba(255,242,95,1) 9%, rgba(255,250,194,1) 44%, rgba(255,244,118,1) 100%);
}

.banner-left{
  gap: 10px;
  display: flex;
  /* width: 250px; */
  flex-flow: column;
  line-height: 2;
  /* align-items: center; */
  justify-content: center;
  /* gap: 20px; */
}



.banner-mid{
  display: flex;
  /* margin: 100px auto; */
  overflow: hidden;
  background-image: url("./assets/banner-back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px;
  width: 50%;
  justify-content: center;
  align-items:baseline;
  width:600px;
  height: 500px;

}

.banner-mid img{
  margin: 0 auto;
  margin-top: 45px;
  height: 450px;
  bottom: 0;

}

.banner-mini{
  display: none;
}

.banner-right{
  display: flex;
  flex-flow: column;
  line-height: 2;
}

a{
  text-decoration: none;
  color: #302939;
}

@media screen and (max-width: 1000px) {
  .banner{
    font-size: 15px;
    flex-flow: column;
  }
  .banner-left, .banner-right{
    display: none;
  }
  .banner-mid{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
  }
  .banner-mid img{
    height: 350px;
  }
  .banner-mini{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .mini-left, .mini-right{
    display: flex;
    line-height: 2;
    flex-flow: column;
  }

}

.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about{
  width: 1320px;
  margin-top: 80px;
}

.dividers{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: left ;
  padding: 10px;
  line-height: 3;
}

.card-container{
  margin: 0 auto;
  width: 100%;
}

.card{
  display: flex;
  align-items: center;
  font-size: 25px;
  /* justify-content: nter; */
  gap: 20px;
}

.cards{
  display: flex;
  flex-flow: column;
  height: 300px;
  line-height: 2;
  font-size: 18px;
  justify-content: center;
  text-align: justify;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .cards{
    font-size: 15px;
  }
  .card{
    font-size: 18px;
    line-height: 3;
  }
}
@media screen and (max-width: 780px) {
  .cards{
    flex-flow: row;
  }
}

.skills{
  margin-top: 80px;
}

.project{
  margin-top: 80px;
}

.links{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.link{
  display: flex;
  justify-content: left;
  font-size: 15px;
  align-items: center;
}

.link span{
  margin: 0 10px;
}

.project-container{
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.project{
  max-width: 1320px;
  padding: 10px;
}


.rows{
  overflow: hidden;
  margin-left: -20px;
}


.text{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/strip.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 0;
  font-size: 25px;
  font-weight: bold;
}

.footer{
  width: 100%;
  justify-content: space-evenly;
  font-size: 18px;
  padding: 20px 0px;
  line-height: 2;
  display: flex;
  background-color: #fffac2;
}

.title{
  font-weight: 800;
}

.map{
  height: 200px;
  border-radius: 5px;
  outline: none;
}

.content li{
  align-items: center;
}

.map iframe{
  height: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 950px) {
  .footer{
    flex-flow: column;
    align-items: center;
    font-size: 15px;
    /* padding: 10px; */
    text-align: left;
    /* width: 100%; */
    justify-content: center;
  }
  .fleft, .fmid{
    width: 80%;
  }

}

.form-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  border: 1px solid red;
  width: 500px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
}

.form-data{
  margin: 20px;
}

.email-title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.btn{
  /* width: 100%; */
  margin: 0 auto;
  background-color: #fffac2;
}

.btn:hover{
  opacity: 0.8;
  background-color: #fffac2 !important;
}